<ion-view>
<ion-content has-header="true">

<div style="width: 100%; height: 100%;">

	<div class="card padding">
		<div class="item item-divider">{{item.k}}</div>
		<label class="item item-text-wrap padding"> {{item.v}} </label>
	</div>

	<div class="row">
		<div class="col"></div>
		<div class="col col-75">
			<div class="button button-energized padding" style="width: 100%;"
				ng-click="openBrowser3()">자세히 보기...</div>
		</div>
		<div class="col"></div>
	</div>
</div>
</ion-content>
</ion-view>