<?xml version='1.0' encoding='utf-8'?>
<widget id="com.blogspot.imapp.imhotissue" version="4.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HotIssue</name>
    <description>
        Hybrid version of HotIssue
    </description>
    <author email="imapp.help@gmail.com" href="http://imapp.blogspot.com/">
        INAPP
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="false" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    
</widget>
