<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
<title></title>

<link href="lib/ionic/css/ionic.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

<!-- ionic/angularjs js -->
<script src="lib/ionic/js/ionic.bundle.js"></script>

<!-- cordova script (this will be a 404 during development) -->
<script src="cordova.js"></script>

<!-- your app's js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="js/services.js"></script>
</head>
<body ng-app="starter" animation="slide-left-right-ios7" ng-controller="ListCtrl">

	<ion-header-bar align-title="center" class="bar-positive">
	<h1 class="title">Clip Anywhere</h1>
	</ion-header-bar>

	<ion-content >
	<div class="card" ng-show="!isPhoneGap">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script><ins class="adsbygoogle" style="display:inline-block;width:728px;height:90px" data-ad-client="ca-pub-3241952602337815" data-ad-slot="5779831039"></ins><script>(adsbygoogle = window.adsbygoogle || []).push({});</script>		
	</div>

	<div class="card padding">
		<div class="item item-divider">Key</div>
		<label class="item item-input padding"> <input type="number" maxlength="32"
			placeholder="Key" ng-model="clip.key" ng-pattern="/^[0-9]+$/"/>
		</label>
	</div>
	
	<div class="card padding">
		<div class="item item-divider">Paste</div>
		<ion-list can-swipe="true">
		<ion-item ng-repeat="v in items" ng-click="Action(v.v)">
  			{{v.k}} => {{v.v}}
		<ion-option-button class="button-positive" ng-click="Delete($index,v)">
      		Delete
    	</ion-option-button>
		</ion-item>
		 </ion-list>
		<button class="button button-balanced button-block " ng-disabled="clip.key == null || clip.key == ''" ng-click="Receive();">Go</button>
	</div>
	<div class="card padding">
		<div class="item item-divider">Copy</div>
		<label class="item item-input padding"> <input type="text" maxlength="1000"
			placeholder="Text" ng-model="send.value"/>
		</label>
		<button class="button button-balanced button-block " ng-disabled="send.value == null || send.value == ''" ng-click="Send();">Go</button>
	</div>

	<div class="card padding">
		<div class="item item-divider">About</div>
		<label class="item padding" align="center"><p><a href="#" ng-click="openBrowser('http://imapp.blogspot.com/2014/06/clip-anywhere.html')">How to use</a></p>
		</label>

		<label class="item padding" align="center">
			<p>Desktop site: <a href="#" ng-click="openBrowser('http://clip.imapp.kr')">http://clip.imapp.kr</a></p>
		</label>
		
		<label class="item padding" >
			
<!-- I got these buttons from simplesharebuttons.com -->
<div id="share-buttons" align="center">

<!-- Facebook -->
<a href ng-click="openBrowser('http://www.facebook.com/sharer.php?u=http://imapp.blogspot.com/2014/06/clip-anywhere.html')" target="_blank"><img src="img/facebook.png" alt="Facebook" /></a>

<!-- Twitter -->
<a href ng-click="openBrowser('http://twitter.com/share?url=http://imapp.blogspot.com/2014/06/clip-anywhere.html&text=Clip Anywhere')" target="_blank"><img src="img/twitter.png" alt="Twitter" /></a>

<!-- Google+ -->
<a href ng-click="openBrowser('https://plus.google.com/share?url=http://imapp.blogspot.com/2014/06/clip-anywhere.html')" target="_blank"><img src="img/google.png" alt="Google" /></a>
 </div>

</label>

	</div>
	
	<div class="padding"></div>
	</ion-content>

</body>
</html>
